name: Test without uv embedding

on:
  push:
    branches: [feature--no-uv-embed]

permissions:
  contents: write
  id-token: write

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Run Tests (Linux)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build runner
        run: cargo build -p pycrucible_runner --release --target x86_64-unknown-linux-gnu

      - name: Run tests
        run: |
          cargo test -p pycrucible --target x86_64-unknown-linux-gnu
          cargo test -p shared --target x86_64-unknown-linux-gnu
    
  smoke-test:
    name: Smoke Test PyCrucible without uv embedding
    needs: test
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            bin_ext: ""
            simple: linux
          # Windows
          - runner: windows-latest
            target: x86_64-pc-windows-msvc
            bin_ext: ".exe"
            simple: windows
          # macOS
          - runner: macos-latest
            target: aarch64-apple-darwin
            bin_ext: ""
            simple: macos

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - uses: actions/cache@v4
      with:
        path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
            target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build runner
      run: cargo build -p pycrucible_runner --release --target ${{ matrix.target }}

    - name: Build PyCrucible
      run: cargo build -p pycrucible --release --target ${{ matrix.target }}

    - name: Clone example project
      run: git clone https://github.com/JamesParrott/simple-python-project-for-PyCrucible

    - name: Extract and copy binary
      shell: bash
      run: |
        cp .target/release/${{ matrix.target }}/pycrucible${{ matrix.bin_ext }} simple-python-project-for-PyCrucible/pycrucible${{ matrix.bin_ext }}

    - name: Make binary executable (non-Windows)
      if: runner.os != 'Windows'
      run: chmod +x simple-python-project-for-PyCrucible/pycrucible${{ matrix.bin_ext }}

    - name: Run PyCrucible
      working-directory: simple-python-project-for-PyCrucible
      run: ./pycrucible${{ matrix.bin_ext }} -e . -o cowsay${{ matrix.bin_ext }} --debug

    - name: Smoke-test generated artifact
      working-directory: simple-python-project-for-PyCrucible
      run: ./cowsay${{ matrix.bin_ext }}